env:
  node: true
  es6: true

parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    jsx: true

rules:
  quotes: [1, single]
  semi: [1, always]
  
  dot-location: [2, property]
  no-fallthrough: 2
  no-global-assign: 2
  no-multi-spaces: 2
  no-octal: 2
  no-redeclare: 2
  no-self-assign: 2
  no-unused-labels: 2
  no-useless-call: 2
  no-useless-escape: 2
  no-void: 2
  no-with: 2
